<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    </head>
    <body>
      {{.}}
      <ul>
        {{range .}}
        <li>{{uc .Name}} {{ft .Surname}}</li>
        {{end}}
      </ul>
    </body>
  </html>
</html>
