<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    </head>
    <body>
      unformated date {{.}}
      formated date with pipeline {{. | fmtDate}}
      formated date {{fmtDate .}}
      with pipeline {{. | fmtDate | toSpc}}
    </body>
  </html>
</html>
